* {
    margin: 0;
    padding: 0;
    font-family: "Crimson Text", serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
}

.h-col-1 {
    display: flex;
}

h1 {
    margin-left: 30px;
    margin-right: 40px;
    font-family: "Viaoda Libre", serif;
    font-weight: 400;
    font-size: 80px;
}

.menu {
    align-items: center;
    justify-content: center;
}

.menu-1 {
    display: flex;
}

.search-cart {
    margin: 20px;
    display: inline-block;
}

.search-cart img {
    margin-right: 50px;
}

.menu-1 h3 {
    margin-right: 30px;
    margin-top: 20px;
    display: inline-block;
}

/* .menu-2 a {
    margin-right: 30px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    cursor: pointer;
} */

.line {
    border-bottom: 1px solid #000;
    width: 100%;
    height: 100px;
    line-height: 80%;
    position: absolute;
}

.hero {
    background-image: url(./Assets/Hero-photo.png);
    background-size: 1000px;
    height: 80vh;
    background-position: center;
    background-position-x: 1000px;
    background-repeat: no-repeat;
    
}

#hero {
    background-image: url(./Assets/fashionable-man-winter-knitted-clothes.png);
    background-size: 1000px;
    height: 80vh;
    background-position: center;
    background-position-x: 1000px;
    background-repeat: no-repeat;
}

h2 {
    margin-left: 300px;
    /* padding-top: 30px; */
    /* text-align: center; */
    font-size: 50px;
}

.card {
    margin: 40px;
    margin-top: 100px;
    display: flex;
    align-items: baseline;
    
}

.card-1 {
    position: relative;
    text-align: center;
    filter: drop-shadow(0px 4px 4px #000000);
}
.card-2 {
    position: relative;
    text-align: center;
    margin-left: 30px;
    filter: drop-shadow(0px 4px 4px #000000);
}

.card-1 img {
    border-radius: 10px;
}

.card-1 button {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D9D9D9 ;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.card-1 button:hover {
    background-color: #f1ecec ;
}

.card-2 button {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D9D9D9 ;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.card-2 button:hover {
    background-color: #f1ecec ;
}

.card-2 img {
    border-radius: 10px;
    background-color: #D9D9D9;
    
}

.card-details {
    background-color: #F2DDBC !important;
}

.card-details:hover {
    background-color: #f0e3ce !important;
}

.section-gap {
    height: 50px;
    width: 100%;
    background-color: #D9D9D9;
}

.footer {
    margin: 40px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
}

.b-col-1 {
    display: flex;
    margin-right: 80px;
}
.b-col-1 p {
    margin: 10px;
    margin-right: 20px;
}
.b-col-2 {
    display: flex;
    align-items: right;
}

.b-col-1 a {
    color: #000;
    text-decoration: none;
}

.b-col-2 a {
    color: #000;
    text-decoration: none;
}

.b-col-2 p {
    margin: 10px;
    margin-right: 20px;
}